
// Theme

//Colors
$base: #ffeadb;
$color-text: #3c2c3e;
$primary: #8675a9;
$secondary: #c3aed6;
$strong : #6a2c70;

//Tipography
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

$title-font: 'Rochester', cursive;
$base-font: 'Ubuntu', sans-serif;
